<div class="container">
    <div class="row" *ngIf="character$ | async as character">
        <div class="col-md-6">
            <h1 class="display-2">Id :{{character.id}}</h1>
            <h1 class="display-3">Nombre: {{character.name}}</h1>
            <h1 class="display-4">Locación: {{character.location.name}}</h1>
            <h1 class="diplay-4">Especie: {{character.species}}</h1>
            <h1 class="diplay-4">Genero: {{character.gender}}</h1>
            <h1 class="diplay-4">Estatus:{{character.status}}</h1>
            <h1 class="diplay-4">Origen:{{character.origin.name}}</h1>
            <h1 class="diplay-4">Creado:{{character.created}}</h1>
        </div>
        <div class="col-md-6">
            <img class="card-img-top" [src]="character.image" alt="Avatar Not Found">
        </div>
        <div class="col-md-6">
            <button class="btn btn-lg btn-acept">Agregar a Favoritos</button>
        </div>
        <div class="col-md-6">
            <button [routerLink]="['/personajes']" class="btn btn-lg btn-reg">Volver</button>
        </div>
    </div>
</div>
