<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Id :{{character.id}}</p>
                        <p>Nombre: {{character.name}}</p>
                        <p>Locación: {{character.location.name}}</p>
                        <p>Especie: {{character.species}}</p>
                        <p>Genero: {{character.gender}}</p>
                        <p>Estatus:{{character.status}}</p>
                        <p>Origen:{{character.origin.name}}</p>
                        <p>Creado:{{character.created}}</p>
                    </div>
                    <div class="col-md-6">
                        <img class="card-img-top" [src]="character.image" alt="Avatar Not Found">
                    </div>
                    <div class="col-md-6 mt-3">
                        <button class="btn btn-lg btn-acept cen">Agregar a Favoritos</button>
                    </div>
                    <div class="col-md-6 mt-3">
                        <button data-dismiss="modal" class="btn btn-lg btn-reg pull-right">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>