@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,300;1,500&display=swap');

main{
    margin-top: 40px;
}
body{
    background-color: #333333;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}
nav{
    background-color: #333333;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

.btn-acept{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background-color: #08bb3d;
    &:hover{
        background-color: whitesmoke;
        color:#08bb3d;  
        border: 2px solid #08bb3d; 
    }
}
.cen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tc{
    text-align: center;
}
.btn-reg{
    color:whitesmoke;
    border: 2px solid whitesmoke;
    background-color:#333333;
    &:hover{
        background-color: whitesmoke;
        color:#333333;  
        border: 2px solid#333333; 
    }
}
.adorno{
    color:whitesmoke;
    border: 1px solid whitesmoke;
    background-color: #333333;
}